@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@400&display=swap');

.edit-profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 100px;
  font-family: 'Lexend Mega', sans-serif;
  color: white;
}

h1 {
  font-size: 2.8rem;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.profile-card {
  background-color: rgba(206, 206, 206, 0.3); /* CECECE al 30% */
  padding: 50px;
  border-radius: 30px;
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.profile-img {
  width: 140px;
  height: 140px;
  border-radius: 20px;
  object-fit: cover;
  align-self: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1.3rem;
}

label {
  align-self: flex-start;
  margin-bottom: 5px;
  color: white;
}

input {
  background-color: rgba(217, 217, 217, 0.5); /* D9D9D9 al 50% */
  padding: 14px;
  border-radius: 14px;
  border: none;
  outline: none;
  font-size: 1rem;
  color: black;
  width: 100%;
  font-family: 'Lexend Mega', sans-serif;
}


.save-button {
  background-color: #b30000;
  color: white;
  padding: 14px 30px;
  border-radius: 25px;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  align-self: center;
}
.back-button {
  background: none;
  border: none;
  position: absolute;
  bottom: 40px;
  left: 40px;
  cursor: pointer;
  padding-top: 50px;
}

