@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@400&display=swap');
.top-category-wrapper {
  padding: 90px 40px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lexend Mega', sans-serif;
}

.top-header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.top-title {
  font-size: 3rem;
  color: white;
  margin: 0;
  text-align: center;
}

.back-button {
  position: absolute;
  left: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.back-button img {
  width: 50px;
  height: 50px;
}


.top-title {
  font-size: 2rem;
  color: white;
  margin: 0;
}

.top-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  gap: 24px;
  width: 100%;
  max-width: 1300px;
}

.top-item {
  background-color: #222;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  color: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.top-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}
