<div class="trending-container">
  <h1 class="main-title">TENDENCIAS</h1>

  <!-- PELÍCULAS -->
  <div class="trending-row">
    <div class="category-label clickable" (click)="goToTop('movie')">TOP PELÍCULAS</div>
    <div class="trending-items-horizontal">
      <ng-container *ngFor="let movie of movies | slice:0:5">
        <app-movie-card [titulo]="movie.titulo" [imagen]="movie.imagen" [movie]="movie"></app-movie-card>
      </ng-container>
    </div>
  </div>

  <!-- SERIES -->
  <div class="trending-row">
    <div class="category-label clickable" (click)="goToTop('serie')">TOP SERIES</div>
    <div class="trending-items-horizontal">
      <ng-container *ngFor="let serie of series | slice:0:5">
        <app-serie-card [titulo]="serie.titulo" [imagen]="serie.imagen" [serie]="serie"></app-serie-card>
      </ng-container>
    </div>
  </div>

  <!-- LIBROS -->
  <div class="trending-row">
    <div class="category-label clickable" (click)="goToTop('book')">TOP LIBROS</div>
    <div class="trending-items-horizontal">
      <ng-container *ngFor="let book of books | slice:0:5">
        <app-book-card [titulo]="book.titulo" [imagen]="book.imagen" [book]="book"></app-book-card>
      </ng-container>
    </div>
  </div>
</div>
