@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@400&display=swap');

.content-detail-wrapper {
  width: 100%;
  max-width: 100vw;
  padding: 20px;
  margin: 100px auto;
  font-family: 'Lexend Mega', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.main-and-reviews {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1600px;
  gap: 20px;
  background-color: #222;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

.main-content {
  flex-grow: 2;
  min-width: 0;
}



.side-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}


.reviews-section,
.create-review {
  width: 350px;
  flex-shrink: 0;
  background-color: #333;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  height: fit-content;
}


.reviews-section h3 {
  color: #fff;
  font-size: 1.2em;
  margin-bottom: 10px;
  padding-left: 10px;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #111;
}
/* Back Button */
.back-button {
  position: absolute;
  left: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.back-button img {
  width: 50px;
  height: 50px;
}
